/* CCS reset */

/* 
.left{
    background: blue
}

.center{
    background: yellow
}

.right{
    background: red
} */

/* 
Fonts:

font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
font-family: nyt-imperial,georgia,'times new roman',times,serif;
font-family: nyt-franklin,helvetica,arial,sans-serif; 
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: 1px solid #000;

}

ul li{
    list-style: none;
}

p, h1 {
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
}

h1{
    font-style: italic;
}

h2, div, span{
    font-family: nyt-franklin,helvetica,arial,sans-serif; 
}

footer .footer-ul li{
    float: left;
}

.social-icons li{
    float: right;
}

.inline-block{
    display: inline-block;
}
.navbar-container{
    min-width: fit-content;
    min-height: fit-content;
}

.fix-float-size{
    overflow: hidden;
}

/* images and icons dimension */

.top-logo-dimension{
    width: 195px;
    height: 26px;
    margin: 6px auto 0;
}

.icons-dimension{
    width: 16px;
    height: 16px;
}



/* Width rules  */

.nav-group {
    min-width: fit-content;
}

.article-important-width {
    max-width: 800px;
}

.article-content-width {
    max-width: 600px;
}

.article-image {
    width: 100%
}

.image-related {
    max-width: 280px;
}

.page-width{
    width: 1200px;
}

.most-popular-width{
    width: 320px;
}

.related-width{
    width: 860px;
}
.fit-content{
    width: fit-content;
}

/* .margin rules  */

.margin-center{
    margin: 0 auto;
}

.navbar-block{
    display: inline;

}

/* Align rules */

.text-center{
    text-align: center;    
}

/* float rules */

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.clear-both{
    clear: both;
}



/* html {
    font-family: AvenirNext, Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    background: #eceef1;
    color: #404040;
} */